@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "sans-serif";
    background-color: #212529;
}

nav {
    text-align: center;
}

.block {
	width: 50vh;
	height: 2px;
	background: #e55d87;
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
    margin: auto;
    margin-bottom: 50px;
}

.hero-section {
    color: #ffffff;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
}

.hero-section > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.hero-section > .container > .hero-text {
    width: 40%;
}

.windowButtonsHolder {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 750px;
    
    border: 2px solid;
    border-image: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
    border-image-slice: 1;
    padding-left: 10px;
}

.windowButtonsHolder button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.windowContent {
    width: 750px;
    height: 370px;
    border: 2px solid;
    border-image: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
    border-image-slice: 1;
    overflow: hidden;
}

.windowContent > pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0.5em 0;
    margin-bottom: 20em;
}

.languagesContainer {
    margin-top: 50px;
}

.languagesContainer > div > div > img {
    width: 100px;
    transition: scale 0.2s ease-in-out;
}

.languagesContainer > div> div > img:hover {
    scale: 1.1;
}

.scroll-down-arrow {
    background-image: url(../images/arrow-down-3101.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.scroll-down-link {
    position: relative;
    top: 150px;
    z-index: 100;
    cursor: pointer;
    height: 60px;
    width: 80px;
    margin: 0 auto;
    line-height: 60px;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 70px;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation: fade_move_down 2s ease-in-out infinite;
    animation: fade_move_down 2s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
}

@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -moz-transform: translate(0, 20px);
        opacity: 0;
    }
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}


.about-section > div > h1{
    font-weight: 200;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	padding: 50px 0 50px 0;
    margin-top: 200px
}

#about > .icon {
	font-size: 26px;
}

#about > h1 {
    text-align: center;

    color: white;
    font-weight: 900;
}

.aboutMePic {
    width: 150px;
    height: 150px;
    background-image: url(../images/mornii.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    border-radius: 70%;
}

.card {
	border: none;
	border-radius: 8px;
	background-color: #a9acad;
}

.card-img-top {
    border-radius: 8px;
    height: 200px;
}

.card-body {
    border: 2px solid transparent;
    border-radius: 8px;
    background: #4d4d4dd4;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btnSocial {
    color: #ffffff;
    border: none;
    background-color: #303030fe;
    padding: 10px;
    margin: 5px;

}

.btnSocial:hover {
    transform: translateY(-5px);
    color: #ffffff;
}

#projects {
    
    height: 100vh;
    padding: 70px 0 0 0;
    margin-bottom: 200px;
}

#projectsTitle {
    color: #ffffff;
    font-weight: 200;
}

#html-css-tab:not(.active) {
    color: #ffffff;
    background-color: #212529;
    border: solid 1px #ffffff;
}

#javascript-tab:not(.active) {
    color: #ffffff;
    background-color: #212529;
    border: solid 1px #ffffff;
}

footer {
    border-top: 2px solid rgb(151, 151, 151);
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer div {
    margin: 5px 0;
}

footer a {
    color: #f4bc44;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 1208px) {
    .hero-section > .container {
        flex-direction: column;
    }

    .hero-text {
        text-align: center;
        min-width: 400px;
    }

    .scroll-down-arrow {
        display: none;
    }

    #projects {
        height: 100%;
    }
}

@media (max-height: 700px) {
    .hero-section > .container {
        flex-direction: column;
    }

    .hero-text {
        text-align: center;
        min-width: 400px;
    }

    .scroll-down-arrow {
        display: none;
    }

    #about {
        height: 100%;
    }

    #projects {
        height: 100%;
    }
}

@media (max-width: 770px) {
    .hero-text {
        text-align: center;
        min-width: 300px;
    }
    
    .windowButtonsHolder {
        width: 80vw;
    }

    .windowContent {
        width: 80vw;
        height: 390px;
        overflow: auto;

    }

    .windowContent > pre {
        width: fit-content;
    }

    #projects {
        height: 100%;
    }

    #about {
        height: 100%;
    }

    .block {
        width: 80vw;
    }
}